.card{

    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 50rem;
    position: relative;

    &__side{
        backface-visibility: hidden;
        color: palegoldenrod;
        height: 50rem;
        transition: all 1s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        
        &--front{
            background-color: $color-white;
        }
        &--back{
            transform: rotateY(180deg);
            &-1{
                background-image: linear-gradient(to right top, $color-secondary-dark, $color-secondary-light);
            }
        }
    }
    &:hover &__side--front{
        transform: rotateY(180deg);
    }
    &:hover &__side--back{
        transform: rotateY(360deg);
        // transform: rotateY(0);
    }

}